---
- name: Destroy GCP instance - {{ machine.name }}
  google.cloud.gcp_compute_instance:
    name: "{{ machine.name }}"
    machine_type: "{{ machine.machine_type }}"
    zone: "{{ machine.zone }}"
    project: "{{ google_project_id }}"
    auth_kind: "serviceaccount"
    service_account_file: "{{ service_account_path }}"
    state: absent