---
- name: Create GCP infrastructure
  hosts: localhost
  gather_facts: false
  vars_files:
    - ../vars/machines.yaml
  tasks:
    - name: Create GCP instances
      include_tasks: ../roles/gcp/tasks/create-gcp-instance.yaml
      loop: "{{ machines_info }}"
      loop_control:
        loop_var: machine

    - name: Read created instance JSON files
      slurp:
        src: "./gcp_instance_{{ item.name }}.json"
      register: instance_files
      loop: "{{ machines_info }}"
      when: not destroy_infrastructure | default(false)

    - name: Generate dynamic inventory from created instances
      template:
        src: ../templates/gcp-inventory-template.j2
        dest: ../inventory/gcp_dynamic.ini
      vars:
        gcp_instances: "{{ instance_files.results | map(attribute='content') | map('b64decode') | map('from_json') | list }}"
      when: not destroy_infrastructure | default(false)

    - name: Wait for instances to be SSH ready
      wait_for:
        host: "{{ item | regex_replace('^([^ ]*) ansible_host=([^ ]*) .*$', '\\2') }}"
        port: 22
        delay: 5
        timeout: 300
      loop: "{{ lookup('file', '../inventory/gcp_dynamic.ini').split('\\n') | select('search', 'ansible_host') | list }}"
      when: not destroy_infrastructure | default(false)

- name: Install services on created instances
  import_playbook: ../playbooks/install-services.yml
  when: not destroy_infrastructure | default(false)



