---
- name: Destroy GCP infrastructure
  hosts: localhost
  gather_facts: false
  vars_files:
    - ../vars/machines.yaml
  tasks:
    - name: Destroy GCP instances
      include_tasks: ../roles/gcp/tasks/destroy-gcp-instance.yaml
      loop: "{{ machines_info }}"
      loop_control:
        loop_var: machine